body,
div,
span,
p,
a,
img,
input,
ul,
li,
strong,
del,
i,
em,
ins,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
img {
  border: none;
  vertical-align: middle;
}
i {
  font-style: normal;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
