body,
div,
span,
p,
a,
img,
input,
ul,
li,
strong,
del,
i,
em,
ins,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
img {
  border: none;
  vertical-align: middle;
}
i {
  font-style: normal;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  position: relative;
  overflow-x: hidden;
}
.warpper {
  position: relative;
}
.warpper .nav {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 70px;
  background: url('../首页图片/顶部虚化.jpg');
}
.warpper .nav #logo {
  position: absolute;
  width: 107px;
  left: 50px;
  top: 10px;
}
.warpper .nav .menu {
  position: absolute;
  height: 70px;
  left: 285px;
}
.warpper .nav .menu a {
  font-size: 22px;
  color: white;
  line-height: 67px;
  margin-right: 50px;
  height: 69px;
  display: block;
  float: left;
}
.warpper .nav .menu a .line {
  width: 0;
  height: 4px;
  background: linear-gradient(to right, skyblue, pink, orange);
}
.warpper .nav .download {
  position: absolute;
  right: 0;
  width: 260px;
  height: 69px;
}
.warpper .nav .download img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.warpper .nav .download #img0 {
  width: 80%;
  margin-left: 10%;
}
.warpper #section1 {
  box-sizing: border-box;
  display: flex;
  height: 925px;
  margin: 0 auto;
}
.warpper #section1 .bg-video {
  width: 100%;
  position: absolute;
}
.warpper #section1 .bg-video video {
  position: absolute;
  left: 50%;
  margin-left: -960px;
}
.warpper #section1 .video-btn {
  width: 160px;
  height: 102px;
  position: absolute;
  top: 107px;
  right: 27px;
  background: url('../首页图片/右上角图片.png') no-repeat;
  cursor: pointer;
  z-index: 200;
}
.warpper #section1 .centerPc {
  position: absolute;
  left: 50%;
  margin-left: -332px;
  top: 310px;
}
.warpper .schedule-wrapper {
  width: 100%;
}
.warpper .schedule-wrapper .float {
  width: 660px;
  height: 210px;
  position: absolute;
  top: -220px;
  right: 120px;
}
.warpper .schedule-wrapper .float li#imgI {
  position: absolute;
  width: 395px;
  height: 205px;
  top: 0;
}
.warpper .schedule-wrapper .float .i2 {
  left: 100px;
}
.warpper .schedule-wrapper .float .i3 {
  left: 220px;
}
.warpper .schedule-wrapper .float .i4 {
  left: 340px;
}
.warpper .schedule-wrapper .schedule-box {
  position: absolute;
  top: 750px;
  width: 1220px;
  height: 70px;
  left: 50%;
  margin-left: -610px;
}
.warpper .schedule-wrapper .schedule-box ul {
  margin: 0 auto;
  height: 70px;
}
.warpper .schedule-wrapper .schedule-box ul li {
  float: left;
  height: 70px;
  width: 120px;
  font-size: 20px;
  color: white;
  line-height: 70px;
  text-indent: 12px;
}
.warpper .schedule-wrapper .schedule-box ul li p {
  opacity: 0;
  margin-left: -10px;
  font-size: 16px;
}
.warpper .schedule-wrapper .schedule-box ul li .line {
  width: 40px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 32px;
  margin-left: 74px;
}
.warpper .schedule-wrapper .schedule-box ul .sc-date {
  cursor: pointer;
  width: 66px;
  background: url('../首页图片/img-day.png') no-repeat;
}
.warpper .schedule-wrapper .schedule-box ul .sc-dot:nth-child(n+6) .sc-date {
  background: url('../首页图片/img-day.png') no-repeat 0 -70px;
}
.warpper .schedule-wrapper .schedule-box ul .line-start {
  background: url('../首页图片/img-day.png') no-repeat 0 -155px;
}
.warpper .schedule-wrapper .schedule-box ul .line-start div {
  width: 60px;
  height: 2px;
  margin: 32px 0 0 55px;
  background-color: white;
}
.warpper .schedule-wrapper .schedule-box ul .line-end {
  background: url('../首页图片/img-day.png') no-repeat 50px -155px;
}
.warpper .schedule-wrapper .schedule-box ul .line-end div {
  width: 60px;
  height: 2px;
  margin: 32px 0 0 5px;
  background-color: white;
}
.warpper .schedule-wrapper .schedule-box ul .sc-dot-end {
  width: 66px;
}
.warpper #section2 {
  width: 100%;
}
.warpper #section2 video {
  display: none;
}
.warpper #section2 .bg {
  background: url('../首页图片/bg_section2.jpg');
}
.warpper #section2 .list {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-top: -1px;
}
.warpper #section2 .list .item {
  width: 50%;
  margin-right: -1px;
}
.warpper #section2 .list .item img {
  width: 100%;
}
.warpper #section2 .list .item video {
  position: relative;
  width: 100%;
  z-index: 99;
}
.warpper #section3 {
  padding: 20px 60px;
  width: 100%;
  background: url('../首页图片/btn_banner.jpg') center center;
}
.warpper #section3 .list {
  height: 433px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
.warpper #section3 .item {
  height: 433px;
  width: 33%;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
.warpper #section3 .item img {
  width: 100%;
  min-height: 210px;
  min-width: 383px;
}
.warpper #section3 .item h3 {
  height: 60px;
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}
.warpper #section3 .last_item {
  margin-right: 0;
}
.warpper #section3 .link-group {
  margin: 20px auto 20px;
  width: 100%;
  font-size: 50px;
  height: 170px;
  box-sizing: border-box;
  display: flex;
}
.warpper #section3 .link-group a:not(:last-child) {
  margin-right: 2.1978%;
}
.warpper #section3 .link-group a {
  color: white;
  display: block;
  width: 50%;
  float: left;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 170px;
  text-align: center;
}
.warpper #section4 {
  height: 220px;
  min-height: 220px;
  background: url(../首页图片/虚化导航背景.jpg) 100% 100% no-repeat;
}
.warpper #section4 .links {
  width: 1300px;
  margin: 0 auto;
  padding-top: 94px;
  padding-left: 30px;
  height: 100%;
}
.warpper #section4 .links a {
  background: url('../首页图片/icon_btns_61527069711fd664cbf1b730d2517961.png') top no-repeat;
  display: inline-block;
  width: 120px;
  height: 44px;
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color: transparent;
}
.warpper #section4 .links .zzfu {
  background-position: 0 0;
  margin-right: 28px;
}
.warpper #section4 .links .txzcx {
  background-position: -142px 0;
  margin-right: 28px;
}
.warpper #section4 .links .zxkefu {
  background-position: -300px 0;
  margin-right: 108px;
}
.warpper #section4 .links .weibo {
  background-position: -526px 0;
  position: relative;
}
.warpper #section4 .links .weibo #saoma1 {
  opacity: 0;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 45px;
  margin-left: -96px;
}
.warpper #section4 .links .weixin {
  background-position: -652px 0;
  position: relative;
}
.warpper #section4 .links .weixin #saoma2 {
  opacity: 0;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 45px;
  margin-left: -96px;
}
.warpper #section4 .links .bbs {
  background-position: -770px 0;
  margin-right: 100px;
}
.warpper #section4 .links .wanmeidz {
  width: 190px;
  background-position: -986px 0;
}
.warpper #section4 .links .zzfu:hover {
  background-position: 0 -46px;
  margin-right: 28px;
}
.warpper #section4 .links .txzcx:hover {
  background-position: -142px -45px;
  margin-right: 28px;
}
.warpper #section4 .links .zxkefu:hover {
  background-position: -300px -46px;
  margin-right: 108px;
}
.warpper #section4 .links .weibo:hover {
  background-position: -526px -44px;
}
.warpper #section4 .links .weixin:hover {
  background-position: -652px -44px;
  position: relative;
}
.warpper #section4 .links .bbs:hover {
  background-position: -770px -44px;
  margin-right: 100px;
}
.warpper #section4 .links .wanmeidz:hover {
  width: 190px;
  background-position: -986px -44px;
}
.csgo-side-float {
  position: fixed;
  right: 0;
  top: 35%;
  z-index: 100;
}
.csgo-side-float .lnk-close {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  left: -22px;
  top: 0;
}
/* 页面底部开始 */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 160px;
  overflow: hidden;
  background-color: #000;
}
.footer .footer_a {
  position: relative;
  width: 1100px;
  height: 32.8px;
  margin: 40px auto 0px;
}
.footer .footer_a .footer_left,
.footer .footer_md {
  box-sizing: border-box;
  padding: 0 12px;
}
.footer .footer_a .footer_left {
  display: inline-block;
  width: 178px;
  height: 32.8px;
}
.footer .footer_a .footer_md {
  width: 123px;
  height: 32.8px;
}
.footer .footer_a .footer_right {
  height: 32.8px;
  color: #959595;
  font-size: 12px;
  margin-top: -2px;
}
.footer .footer_bt {
  position: absolute;
  left: 230px;
  top: 45px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #555555;
}
.footer .footer_bt a {
  font-size: 12px;
  color: #4bbafa;
}
/* 页面底部结束 */
#video_pop {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9000;
}
#video_pop .pop-container {
  top: 150px;
  position: relative;
  width: 0;
  height: 460px;
  background-color: #000;
  display: inline-block;
}
#video_pop .pop-container .pop-close {
  position: absolute;
  top: 0;
  right: -25px;
  cursor: pointer;
}
#video_pop .pop-container .pop-close img {
  width: 25px;
}
#video_pop .pop-container #video {
  width: 100%;
  height: 100%;
}
